main {
  grid-area: main;
  height: 100%;

  border-radius: 2.5em 2.5em 2.5em 2.5em;
  padding-inline-start: 3em;
  padding-block-start: 2em;

  background-color: var(--color-accent--lighter, red);
  color: var(--color-accent--lighter-text, red);

  /* overflow-y: scroll; */
}


main > section {
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  align-content: flex-start;

  /* display: grid;

  grid-template-areas: "controls custom";
  grid-template-columns: max-content 1fr; */

  align-items: start;
  gap: 1em;
  height: 100%;
  width: 100%;

  & > :not(button) {
    align-self: stretch;
  }
}

main > section:not([data-active]) {
  display: none;
}

main > section {
  & p[data-loading] {
    display: flex;
  }

  & p[data-error] {
    display: flex;

    margin-inline: 0 2em;
    padding: 1em;
    border-radius: 1em;
    padding-block: 2em;

    border: 7px groove var(--color-accent--darker-error, red);
    background-color: var(--color-accent--lightest-error, red);
    color: var(--color-accent--lightest-error-text, red);
  }

  &:not([data-loading]) { & p[data-loading] { display: none; }}
  &:not([data-error]) { & p[data-error] { display: none; }}
}