
aside {
  grid-area: aside;

  background-color: var(--color-accent--dark, red);
  color: var(--color-accent--dark-text, red);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  margin-block-start: 2em;

  overflow: hidden;
  /* overflow-y: scroll; */
}

aside [data-no-devices] {
  display: flex;
  justify-content: center;
  font-size: 1.125em;

  padding-inline: 4em;
  margin-block-start: 4em;

	color: var(--color-disabled, red);
}

aside:has(ul > li) [data-no-devices] {
  display: none;
}
