
aside {
  grid-area: aside;

  background-color: var(--color-accent--dark, red);
  color: var(--color-accent--dark-text, red);

  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;

  margin-block-start: 2em;

  overflow: hidden;
  /* overflow-y: scroll; */
}

/* aside h2 {
  font-size: 1.125em;
  margin-inline: auto;
  padding-block-start: 1em;
} */
