aside ul {
  --item-radius: 2em;

	--background: var(--color-accent--dark, red);
	--color: var(--color-accent--dark-text, red);

	--hover: var(--color-accent--light,red);
	--hover-text: var(--color-accent--light-text, red);

	--selected-background: var(--color-accent--lighter, red);
	--selected-color: var(--color-accent--lighter-text, red);
}

aside ul {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	align-items: stretch;

	list-style: none;
	margin-block-start: 0;
	margin-inline-start: 0.5em;

	overflow-x: scroll;

  background-color: var(--selected-background, red);
	color: var(--color, red);
}

/* Rounding Before first */
aside ul::before {
	--before-radius: 0;

	display: block;
	content: "";
	padding-block-start: 2em;
	border-radius: 0 0 var(--before-radius) 0;
	background-color: var(--background, red);
}

aside ul:has(> li:first-of-type[data-active])::before {
	--before-radius: var(--item-radius, 0);
}

/* Rounding After last */
aside ul::after {
	--after-radius: 0;

	display: block;
	content: "";
	height: 100%;
	border-radius: 0 var(--after-radius) 0 0;
	background-color: var(--background, red);
}

aside ul:has(> li:last-of-type[data-active])::after {
	--after-radius: var(--item-radius, 0);
}


/* Type I default */
aside > ul > li {
}

aside > ul > li > button {
	display: block;
	cursor: pointer;
	border: none;
	width: 100%;

	height: 4em;
	padding: 0.25em;
	padding-inline: 10ch;
	border-radius: 0;

	background-color: var(--background, red);
	color: var(--color, red);
}

aside > ul > li:has(> button:hover) {
	background-color: var(--background, red);
}

aside > ul > li > button:hover {
	background-color: var(--hover, red);
	color: var(--hover-text, red);

	border-radius: var(--item-radius);
}


/* Type II before active */
aside > ul > li:has(+ li[data-active]) {
  background-color: var(--selected-background, red);
}

aside > ul > li:has(+ li[data-active]) > button {
  border-radius: 0 0 var(--item-radius) 0;
}

aside > ul > li:has(+ li[data-active]):hover {
	border-radius: 0 0 var(--item-radius) 0;
	background-color: var(--background, red)
}

aside > ul > li:has(+ li[data-active]) > button:hover {
	border-radius: var(--item-radius);
}

/* Type III active */
aside > ul > li[data-active] {
  background-color: var(--background, red);
}

aside > ul > li[data-active] button {
	cursor: initial;

	background-color: var(--selected-background, red);
	color: var(--selected-color, red);

  border-radius: var(--item-radius) 0 0 var(--item-radius);
}


/* Type IV after active */
aside > ul > li[data-active] + li {
  background-color: var(--selected-background, red);
}

aside > ul > li[data-active] + li > button {
	border-radius: 0 var(--item-radius) 0 0;
}

aside > ul > li[data-active] + li:hover {
	border-radius: 0 var(--item-radius) 0 0;
	background-color: var(--background, red)
}

aside > ul > li[data-active] + li > button:hover {
	border-radius: var(--item-radius);
}

