addr-display {
  --background: var(--color-black, red);
  --color: rgb(100, 100, 100);

  --acked-color: var(--color-white, red);
  --timedout-color: yellow;
}

addr-display {
  display: block;

  background-color: var(--background, red);
  color: var(--color, red);

  border-radius: 1em;

  width: min-content;
}

addr-display::part(list) {
  display: grid;
  list-style: none;
  padding: .5em;

  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 1fr); */
}

addr-display::part(items) {
  padding-inline: 1ch;
  padding-block: 0.125em;

  font-family: monospace;
}


hex-display[acked] {
  color: var(--acked-color, red);
}

hex-display[timedout] {
  color: var(--timedout-color, red);
}

