adt7410-config {
  display: flex;
  flex-direction: column;
  gap: 2.5em;

  padding-inline-start: 1em;
  padding-inline-end: 2em;
}

adt7410-config form {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  align-items: center;
  gap: 1em;
}

adt7410-config fieldset {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em;
  align-items: center;

  padding-inline: 1em;
  padding-block: 1em;

  border-radius: 1em;
  border: 1px solid var(--color-accent--light, red);

}


adt7410-config [data-controls]  {
  display: flex;
  flex-direction: row;
  gap: 1em;
}

