h1 {
  --logo-color: var(--color-accent, red);
	--logo-color-text: var(--color-accent-text, red);
}

h1 {
  grid-area: logo;
  width: 100%;

  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: flex-start;
  text-align: center;
  line-height: 2.5em;

  background-color: var(--logo-color, red);
  color: var(--logo-color-text, red);
}

/* [data-view ~= "aside"] {
  & h1 {
    grid-column: 1 / -1;

    margin-inline-start: 1em;

    justify-self: flex-start;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
} */