nav {
  grid-area: nav;

  display: flex;
  flex-direction: row-reverse;
  width: 100%;

  padding-inline-start: 2ch;

  background-color: var(--nav-background-color, red);
  color: var(--nav-text-color, red);

  text-align: center;
}

nav > button {
  padding-inline: 4ch;

  border: unset;
  cursor: pointer;

  background-color: var(--nav-button-background-color, red);
  color: var(--nav-text-color, red);
}

nav > button:hover {
  background-color: var(--nav-hover-background-color, red);
  color: var(--nav-hover-text-color, red);
  border-radius: 1em;
}

nav > button[disabled]:not([disabled="false"]) {
  display: none;
  color: rgba(0,0,0, 0.25);
}

nav > button[disabled]:not([disabled="false"]):hover {
  background-color: transparent;
}
