@import url("app-nav.css");
@import url("app-logo.css");
@import url("app-aside.css");
@import url("app-main.css");

body {
	font-family: "Tahoma";
	/* font-family: fantasy; */
	/* font-family: "Brush Script MT",cursive; */
}

body {
	display: grid;

	grid-template-areas:
		"logo nav"
		"aside main";

	grid-template-rows: 5em 1fr;
	grid-template-columns: max-content 1fr;

	background-color: var(--color-accent--dark, red);
	color: var(--color-accent--dark-text, red);
}

body:not([data-view ~= "aside"]) {
	/* grid-template-areas:
		"nav"
		"main";

	grid-template-rows: 5em 1fr;
	grid-template-columns: 1fr; */

	& aside {
		display: none;
	}

	& h1 {
		display: none;
	}
}