tca9548-config::part(fieldset) {
  border: 1px solid var(--color-accent--light, red);
  border-radius: 1em;
  padding-inline-start: 2em;
  padding-block: 1em;

  margin-inline-end: 3em;

  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 1em;
  justify-items: start;
  align-items: center;

  color: var(--color-accent--lighter-text);
}

tca9548-config::part(title) {
  font-size: 1.5em;
  font-weight: bold;

  color: var(--color-accent--lighter-text);
}


tca9548-config::part(inputs) {
  accent-color: var(--color-accent--light, red);
  color: var(--color-accent--light-text, red);

  display: inline-block;
  aspect-ratio: 1;
  width: 1.5em;
}
