


@property --color-accent {
  syntax: "<color>";
  initial-value: red;
  inherits: true;
}

@property --color-white {
  syntax: "<color>";
  initial-value: white;
  inherits: true;
}

@property --color-black {
  syntax: "<color>";
  initial-value: black;
  inherits: true;
}

@property --color-gray {
  syntax: "<color>";
  initial-value: gray;
  inherits: true;
}



[data-theme] {
	/*  */
	--color-disabled: var(--color-gray);
	--color-opaque-black: rgba(50 50 50 / 0.25);

	--light-percentage: 10%;
	--lighter-percentage: 30%;
	--lightest-percentage: 40%;

	--dark-percentage: 15%;
	--darker-percentage: 20%;

	--color-accent--h: 0;
	--color-accent--s: 100%;
	--color-accent--l: 10%;

	--color-accent: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		var(--color-accent--l));
	--color-accent-text: var(--color-white, red);


	/*  */

	/* --color-accent--lighter: hsl(from var(--color-accent, red) h s var(--lighter-percentage, 1)); */
	/* --color-accent--lightest: hsl(from var(--color-accent, red) h s var(--lightest-percentage, 1)); */
	/* --color-accent--light: hsl(from var(--color-accent, red) h s var(--light-percentage, 1)); */

	--color-accent--light-text: var(--color-black, red);
	--color-accent--lighter-text: var(--color-black, red);
	--color-accent--lightest-text: var(--color-black, red);

	/* --color-accent--dark: hsl(from var(--color-accent, red) h s var(--dark-percentage, 1));
	--color-accent--darker: hsl(from var(--color-accent, red) h s var(--darker-percentage, 1)); */

	--color-accent--dark-text: var(--color-white, red);
	--color-accent--darker-text: var(--color-white, red);


	--color-accent--light: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) + var(--light-percentage)));

	--color-accent--lighter: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) + var(--lighter-percentage)));

	--color-accent--lightest: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) + var(--lightest-percentage)));

	--color-accent--dark: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) - var(--dark-percentage)));

	--color-accent--darker: hsl(
		var(--color-accent--h),
		var(--color-accent--s),
		calc(var(--color-accent--l) - var(--darker-percentage)));



	--color-accent--darker-error: rgb(255 0 0 / 75%);

	--color-accent--lightest-error: oklab(0.65 0.26 0.15 / 0.2);
	--color-accent--lightest-error-text: var(--color-accent--lightest-text, red);
}
