excamera-i2cdriver {
  display: flex;

  flex-direction: column;
}

/* excamera-i2cdriver::part(vdexvice-guess-list) {
  display: block;
  list-style: none;
}

excamera-i2cdriver::part(scan-display) {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
} */





excamera-i2cdriver > ul > li {
  display: none;
}


excamera-i2cdriver > ul > li[data-acked] {
  display: block;
  background-color: var(--color-accent--lightest);

  font-weight: bolder;

  border-radius: 2em;
  padding-inline: 2em;
  padding-block: 0.5em;
}









excamera-i2cdriver select {
	appearance: none;

  font-size: 1em;

  padding-inline: 1em;
  padding-block: 0.5em;
  margin-inline: 1em;
  border-radius: 2.5em;

	border-style: dashed;
	background-color: var(--color-accent--lightest, red);
}

excamera-i2cdriver select:where(:active, :hover) {
	box-shadow: 0 0 5px rgba(0,0,0, 0.25);
}

excamera-i2cdriver select:focus {
	outline-color: var(--color-accent, red);
	outline-width: 5px;
}