excamera-i2cdriver {
  display: flex;

  flex-direction: column;
}

/* excamera-i2cdriver::part(vdexvice-guess-list) {
  display: block;
  list-style: none;
}

excamera-i2cdriver::part(scan-display) {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
} */



excamera-i2cdriver div.tabsContent {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2em;
}




excamera-i2cdriver ul[data-device-list] {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}

excamera-i2cdriver ul[data-device-list] > li {
  display: none;
}


excamera-i2cdriver ul[data-device-list] > li[data-acked] {
  display: grid;
  grid-template-columns: 5ch 1fr max-content;
  gap: 1em;

  background-color: var(--color-accent--lighter, red);
  color: var(--color-accent--lighter-text, red);

  font-weight: bolder;

  border-radius: 2em;
  padding-inline: 2em;
  padding-block: 0.5em;

  align-items: center;
  flex-wrap: nowrap;

}
