ht16k33-config {
	padding: 1em;
	height: 100%;



& [data-product] {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;

	margin: 2em;

	&:not([data-active]) {
		display: none;
	}
}

& [data-segment] {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1em;

	& form {
		flex-grow: 1;
	}
}








	& form {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;

		align-items: start;
		align-content: center;

		/* border: 1px solid var(--color-accent--light, red);
    border-radius: 1em;
    padding: 1em;
    margin: 0; */
    align-self: stretch;

		& fieldset {
			grid-column: 1 / -1;

			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1em;

			padding: 2em;
			border-radius: 1em;
			border-color: var(--color-accent--darker, red);

			& legend:not(:empty) {
				font-weight: bold;
				padding-inline: 1ch;
			}
		}

		& select {
			background-color: var(--color-accent--lighter, red);
			color: var(--color-accent--lighter-text, red);
		}

		& input[type="checkbox"] {
			accent-color: var(--color-accent--darker, red);
			width: 1.25em;
			height: 1.25em;
			margin: 0.5em;
		}

		& input[type="text"] {
			accent-color: var(--color-accent--darker, red);
			border: 0;

			border-radius: 2em;
			padding-inline-start: 1em;
			padding-block: .5em;

			&:not(:focus-visible) {
				background-color: var(--color-accent--lighter, red);
				color: var(--color-accent--lighter-text, red);
			}

			&:disabled {
				border: 0;
    		background-color: #00000014;
			}
		}
	}







	& table {
		border-collapse: collapse;
	}


	& th {
		font-size: 0.5em;
		min-width: 4ch;
	}

	& tr:nth-child(even) > td {
		background-color: var(--color-accent--lighter, red);
	}

	& td {
		min-width: 3em;
	}

	& td > input[type="checkbox"] {
		accent-color: var(--color-accent--darker, red);
			width: 1.25em;
			height: 1.25em;
			margin: 0.5em;


	}
}

/*  */
ht16k33-config canvas {
	display: block;
	background-color: var(--color-white, red);
	border-radius: 1em;
	margin-inline: 1em;

	height: 15em;

	image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}




:root {
	--segment-orange: oklab(0.79 0.08 0.18);
	--segment-green: oklab(0.76 -0.25 0.15)
}

segment-display { display: contents; }
segment-display::part(segments) {
	background-color: inherit;

	--color-set: var(--segment-orange);
	--color-unset: rgba(255 255 255 / 0.2);

	--color: var(--color-unset);
	color: var(--color);
}