ht16k33-config {
	display: flex;
	flex-direction: column;

	margin: 0;
	margin-inline-start: 2em;

	height: 100%;
}

ht16k33-config header {
	display: flex;
	gap: 1em;
	margin-block-end: 2em;
	font-size: 1.125em;
}


/*  */
ht16k33-config canvas {
	display: block;
	background-color: white;
	border-radius: 1em;
	margin-inline: 1em;

	height: 10em;

	image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}