mcp2221-config {
  /* border: 2px solid red; */
	margin-inline-start: 2em;

	& li {
		display: grid;
		grid-template-columns: 5ch 1fr max-content;
		gap: 1em;
		background-color: var(--color-accent--lighter, red);
		color: var(--color-accent--lighter-text, red);
		font-weight: bolder;
		border-radius: 2em;
		padding-inline: 2em;
		padding-block: 0.5em;
		align-items: center;
	}
}




mcp2221-config::part(section) {
  margin-block-start: 0;
	flex-grow: 1;
	background-color: var(--color-accent--lightest, red);
	display: flex;
	border-radius: 0 2em 2em 2em;
	/* border-inline-start: 1px solid purple; */
	padding: 2em;
	border: 0;
	border-block-start: 0;
}
