
/* RED */
[data-theme ~= "Red" i] {
	--color-accent: red;
	--color-accent-text: red;

	--color-accent--light: red;
	--color-accent--light-text: red;

	--color-accent--lighter: red;
	--color-accent--lighter-text: red;

	--color-accent--lightest: red;
	--color-accent--lightest-text: red;

	--color-accent--dark: red;
	--color-accent--dark-text: red;

	--color-accent--darker: red;
	--color-accent--darker-text: red;
}

/* CRAZY */
[data-theme ~= "Crazy" i] {
	--color-accent: cornflowerblue;
	--color-accent-text: darkblue;

	--color-accent--light: blue;
	--color-accent--light-text: white;

	--color-accent--lighter: green;
	--color-accent--lighter-text: lime;

	--color-accent--lightest: darkorange;
	/* --color-accent--lightest-text: gold; */
	--color-accent--lightest-text: oklab(0.45 -0.01 0.1);

	--color-accent--dark: magenta;
	--color-accent--dark-text: plum;

	--color-accent--darker: yellow;
	--color-accent--darker-text: olive;
}

/* REGULAR_BLUE */
[data-theme ~= "Water" i] {
	--color-accent--h: 225;
	--color-accent--s: 50%;
	--color-accent--l: 50%;

	--light-percentage: 10%;
	--lighter-percentage: 30%;
	--lightest-percentage: 40%;

	--dark-percentage: 15%;
	--darker-percentage: 20%;
}

/* SLATE */
[data-theme ~= "Slate" i] {
	--color-accent--h: 220;
	--color-accent--s: 20%;
	--color-accent--l: 20%;

	--light-percentage: 10%;
	--lighter-percentage: -4%;
	--lightest-percentage: 14%;

	--dark-percentage: 0%;
	--darker-percentage: -37%;

	--color-accent--light-text: white;
	--color-accent--lighter-text: white;
	--color-accent--lightest-text: white;

	--color-accent--darker-text: black;
}

/* PAPER_GREY */
[data-theme ~= "Paper" i] {
	--color-accent--h: 299;
	--color-accent--s: 0%;
	--color-accent--l: 46%;
}

/* TODAYS_BLUE */
[data-theme ~= "TodaysBlue" i] {
	--color-accent--h: 222;
	--color-accent--s: 42%;
	--color-accent--l: 42%;
}

[data-theme ~= "DeepOcean" i] {
	--color-accent: oklch(0.36 0.07 199.78);
	--color-accent-text: white;
	--color-accent--light: oklch(0.37 0.07 198.5);
	--color-accent--light-text: white;
	--color-accent--lighter: oklch(0.42 0.09 189.58);
	--color-accent--lighter-text: white;
	--color-accent--lightest: oklch(0.34 0.07 198.84);
	--color-accent--lightest-text: white;
	--color-accent--dark: oklch(0.27 0.05 207.51);
	--color-accent--dark-text: white;
	--color-accent--darker: oklch(0.47 0.12 175.09);
	--color-accent--darker-text: white;
}

/* DREAM_BLUE */
[data-theme ~= "Dream" i] {
	--color-accent--h: 183;
	--color-accent--s: 50%;
	--color-accent--l: 50%;
	--light-percentage: -4%;
	--lighter-percentage: 42%;
	--lightest-percentage: 33%;
	--dark-percentage: -20%;
	--darker-percentage: -58%;
	--color-accent--darker-text: black;
}

/* GOLDEN */
[data-theme ~= "Golden" i] {
	--color-accent--h: 37;
	--color-accent--s: 77%;
	--color-accent--l: 42%;
	--light-percentage: 10%;
	--lighter-percentage: 37%;
	--lightest-percentage: 42%;
	--dark-percentage: 0%;
	--darker-percentage: -1%;
}

/*  */
[data-theme ~= "Lavender" i] {
	--color-accent--h: 300;
	--color-accent--s: 30%;
	--color-accent--l: 60%;
}

/*  */
[data-theme ~= "Bright" i] {
	--color-accent--h: 234;
	--color-accent--s: 15%;
	--color-accent--l: 62%;
}

/*  */
[data-theme ~= "Plum" i] {
	/* hsl(300deg 44.63% 65.29%); */
	--color-accent--h: 300;
	--color-accent--s: 44%;
	--color-accent--l: 65%;

	--lighter-percentage: 20%;
	--lightest-percentage: 25%;

	/* --color-accent: #ce7fce; */
	/* --color-accent-text: white; */

	/* --color-accent--light: red; */
	/* --color-accent--light-text: white; */
	/* --color-accent--lighter: transparent; */
	/* --color-accent--lighter-text: black; */
	/* --color-accent--lightest: red; */
	/* --color-accent--lightest-text: black; */
	/* --color-accent--dark: plum; */
	/* --color-accent--dark-text: black; */
	/* --color-accent--darker: #03030324; */
	/* --color-accent--darker-text: black; */
}

[data-theme ~= "Washed"] {
	--color-accent: oklab(0.62 -0.07 -0.21);
	--color-accent-text: black;
	--color-accent--light: oklab(0.62 -0.05 -0.2);
	--color-accent--light-text: black;
	--color-accent--lighter: oklab(0.98 0 0);
	--color-accent--lighter-text: black;
	--color-accent--lightest: oklab(0.94 -0.01 -0.03);
	--color-accent--lightest-text: black;
	--color-accent--dark: oklab(0.94 -0.01 -0.03);
	--color-accent--dark-text: black;
	--color-accent--darker: oklab(0.82 -0.04 -0.1);
	--color-accent--darker-text: black;
}

[data-theme ~= "MoodyPlum"] {
	--color-accent--h: 319;
	--color-accent--s: 8%;
	--color-accent--l: 53%;
	--light-percentage: 2%;
	--lighter-percentage: 8%;
	--lightest-percentage: 22%;
	--dark-percentage: 2%;
	--darker-percentage: 9%;
}

[data-theme ~= "NuLight"] {
	--color-accent: oklab(0.95 -0.02 -0.01);
	--color-accent-text: black;
	--color-accent--light: oklab(0.78 -0.06 -0.06);
	--color-accent--light-text: black;
	--color-accent--lighter: oklab(1 0 0);
	--color-accent--lighter-text: black;
	--color-accent--lightest: oklab(0.93 -0.02 -0.01);
	--color-accent--lightest-text: black;
	--color-accent--dark: oklab(0.95 -0.02 -0.01);
	--color-accent--dark-text: black;
	--color-accent--darker: oklab(0.78 -0.06 -0.06);
	--color-accent--darker-text: black;
}


[data-theme ~= "NuDark"] {
	--color-accent: oklab(0.72 0 0.02);
	--color-accent-text: black;
	--color-accent--light: oklab(0.6 0.08 0.14);
	--color-accent--light-text: white;
	--color-accent--lighter: oklab(0.28 0.02 0.04);
	--color-accent--lighter-text: white;
	--color-accent--lightest: oklab(0.36 0.02 0.05);
	--color-accent--lightest-text: white;
	--color-accent--dark: oklab(0.72 0 0.02);
	--color-accent--dark-text: black;
	--color-accent--darker: oklab(0.62 0.1 0.13);
	--color-accent--darker-text: white;
}

[data-theme ~= "Corp"] {
	--color-accent: oklab(0.89 0 0);
	--color-accent-text: black;
	--color-accent--light: oklab(0.53 -0.07 -0.17);
	--color-accent--light-text: white;
	--color-accent--lighter: oklab(1 0 0);
	--color-accent--lighter-text: black;
	--color-accent--lightest: oklab(0.96 0 0);
	--color-accent--lightest-text: black;
	--color-accent--dark: oklab(0.89 0 0);
	--color-accent--dark-text: black;
	--color-accent--darker: oklab(0.68 -0.1 -0.17);
	--color-accent--darker-text: white;

	@media (prefers-color-scheme: dark) {
		--color-accent: oklab(0.27 0 0);
    --color-accent-text: white;
    --color-accent--light: oklab(0.53 -0.07 -0.17);
    --color-accent--light-text: white;
    --color-accent--lighter: oklab(0.31 0 0);
    --color-accent--lighter-text: white;
    --color-accent--lightest: oklab(0.43 0 0);
    --color-accent--lightest-text: white;
    --color-accent--dark: oklab(0.27 0 0);
    --color-accent--dark-text: white;
    --color-accent--darker: oklab(0.68 -0.1 -0.17);
    --color-accent--darker-text: white;
	}
}

