@import url('./css/layers.css');
@import url('./css/defs.css') layer(defs);

@import url('./css/addr-display.css') layer(libs);

@import url('./css/checkbox.css') layer(libs);
@import url('./css/select.css') layer(libs);
@import url('./css/range.css') layer(libs);

@import url('./css/ht16k33.css') layer(libs);
@import url('./css/mcp2221.css') layer(libs);
@import url('./css/adt7410.css') layer(libs);

@import url('./css/device-list.css') layer(libs);

@import url('./css/app.css') layer(app);
@import url('./css/tabs.css') layer(app);

@import url('./css/excamera-i2cdriver.css') layer(app);

@layer defs {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	*:not(:where(html, body)) {
		font-family: inherit;
		font-size: inherit;
	}

	html {
		height: 100vh;
		font-size: 100%;
	}

	body {
		min-height: 100vh;
		height: 100%;
	}

}




:root {
	/* --color-accent: cornflowerblue; */
	/* --color-accent-text: darkblue; */

	/* --color-accent--light: blue; */
	/* --color-accent--light-text: darkblue; */

	/* --color-accent--lighter: green; */
	/* --color-accent--lighter-text: lime; */

	/* --color-accent--lightest: darkorange; */
	/* --color-accent--lightest-text: gold; */

	/* --color-accent--dark: magenta; */
	/* --color-accent--dark-text: plum; */

	/* --color-accent--darker: yellow; */
	/* --color-accent--darker-text: olive; */


	--color-accent--h: 37;
	--color-accent--s: 77%;
	--color-accent--l: 42%;
	/* --light-percentage: 10%; */
	/* --lighter-percentage: 37%; */
	/* --lightest-percentage: 42%; */
	/* --dark-percentage: 0%; */
	/* --darker-percentage: -1%; */
	/* --color-accent--darker: var(--color-accent--complement); */

	--color-accent--h: 183;
	--color-accent--s: 50%;
	--color-accent--l: 50%;
	--light-percentage: -4%;
	--lighter-percentage: 42%;
	--lightest-percentage: 33%;
	--dark-percentage: -20%;
	--darker-percentage: -58%;

	--color-accent--darker-text: black;
}