@import url("./css/layers.css");
@import url("./css/defs.css") layer(defs);
@import url("./css/libs/index.css") layer(libs);
@import url("./css/app/index.css") layer(app);

@import url("./css/device/index.css");

@import url("./css/themes.css");

@layer defs {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;

		/* transition: background-color 3s, color 3s; */
	}

	/* :before,:after {
		transition: background-color 3s, color 3s;
	} */

	*:not(:where(html, body)) {
		font-family: inherit;
		font-size: inherit;
	}

	html {
		height: 100vh;
		font-size: 100%;
	}

	body {
		min-height: 100vh;
		height: 100%;
	}

}

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
}
