@import url('./css/layers.css');
@import url('./css/defs.css') layer(defs);

@import url('./css/addr-display.css') layer(libs);

@import url('./css/checkbox.css') layer(libs);
@import url('./css/select.css') layer(libs);
@import url('./css/range.css') layer(libs);

@import url('./css/ht16k33.css') layer(libs);
@import url('./css/mcp2221.css') layer(libs);
@import url('./css/adt7410.css') layer(libs);
@import url('./css/tcs34725-config.css') layer(libs);

@import url('./css/device-list.css') layer(libs);

@import url('./css/app.css') layer(app);
@import url('./css/tabs.css') layer(app);

@import url('./css/excamera-i2cdriver.css') layer(app);
@import url('./css/mash-mash.css') layer(app);
@import url('./css/pcf8523.css') layer(app);
@import url('./css/eeprom.css') layer(app);
@import url('./css/adxl375.css') layer(app);

@import url('./css/themes.css');

@layer defs {
	* {
		box-sizing: border-box;
		padding: 0;
		margin: 0;

		/* transition: background-color 3s, color 3s; */
	}

	/* :before,:after {
		transition: background-color 3s, color 3s;
	} */

	*:not(:where(html, body)) {
		font-family: inherit;
		font-size: inherit;
	}

	html {
		height: 100vh;
		font-size: 100%;
	}

	body {
		min-height: 100vh;
		height: 100%;
	}

}
