ds3231-config {
  display: flex;
  flex-direction: column;
  margin-inline-end: 2em;

  & > form[data-output] {
    font-size: 1em;
    margin-block-end: 1em;
  }

  & > form button[submit] {
    grid-column: 2 / -1;
  }

  & > form {

    padding-block: 1.5em;
    padding-inline: 1.5em;
  }

  & > form > fieldset {
    justify-self: normal;

  }


}