generic-eeprom-config {
	display: flex;
	flex-direction: column;
	margin-inline-end: 2em;
	margin-block-end: 2em;



	& code:has([name="PeekResults"]){
		grid-column: 1 / -1;
		width: 100%;
		border-width: 1px;
		border-color: var(--color-accent--darker, red);
		border-radius: 1em;
		padding: 2em;
	}


	& [data-input-with-page-buttons] {
		display: inline flex;
		gap: 1em;
	}


	& :where([data-selected-fs=""], [data-selected-fs="none"]) [data-for-fs] {
		display: none;
	}

	& [data-selected-fs="EEFS"] [data-for-fs]:not([data-for-fs="EEFS"]) {
		display: none;
	}

	& [data-selected-fs="Cyclic"] [data-for-fs]:not([data-for-fs="Cyclic"]) {
		display: none;
	}

	& [data-controls] {
		display: flex;
		flex-direction: row;
		gap: 1em;
	}
}

fs-display {
	--fs-color-fat: lightsteelblue;
	--fs-color-empty: cadetblue;
	--fs-color-file-header: cornflowerblue;
	--fs-color-file-data: lightskyblue;
	--fs-size: attr(size);


	grid-column: 1 / -1;

	width: 100%;
	display: flex;
	height: 4em;
	margin-block: 2em;

	/* background-color: white; */
	/* border-radius: 1em; */

	& :first-child {
		border-radius: 1em 0 0 1em;
	}

	& :last-child {
		border-radius: 0 1em 1em 0;
	}

	& > fs-fat {
		background-color: var(--fs-color-fat);
		width: attr(size %);
	}

	& > fs-file {
		background-color: var(--fs-color-file-header);
		width: 10%;
	}

	& > fs-data {
		background-color: var(--fs-color-file-data);
		width: 10%;
	}

	& > fs-empty {
		background-color: white;
	}
}


memory-map {
	display: flex;
	flex-wrap: wrap;

	margin-block-start: 1em;

	& > span {
		display: block;
		height: 1em;
		width: 1em;

		background-color: transparent;
		border: 1px solid rgb(0 0 0 / 0.125);

		&[data-free] {
			background-color: lightslategrey;
		}

		&[data-reserved] {
			background-color: olivedrab;
		}

		&[data-head] {
			background-color: darkslategray;
		}

		&[data-selected] {
			border: 1px solid rgb(255 255 255 / 0.5);;
			box-shadow: 0px 0px 15px black;
			z-index: 1;
		}
	}
}