excamera-i2cdriver {
	display: flex;

	flex-direction: column;
	height: 100%;

	& table {
		/* display: grid; */

		border-radius: 1em;
		background-color: var(--color-accent--dark, red);
		color: var(--color-accent--dark-text, red);

		border-collapse: collapse;

		& thead {

			& th {
				padding-inline: 4ch;
				padding-block: 1em;

				background-color: var(--color-accent--lighter, red);
				color: var(--color-accent--lighter-text, red);

				&:first-child {
					border-start-start-radius: 1em;
				}

				&:last-child {
					border-start-end-radius: 1em;
				}
			}
		}

		& tbody {
			overflow-block: scroll;
			max-height: fit-content;


			& td {
				padding: 1em;
			}
		}
	}

	& [data-for-tab="direct"] {
		flex-direction: column;
		gap: 1em;

		&[data-active] {
			display: flex;
		}
	}

	& form[data-config] {
		display: flex;
		flex-grow: 1;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 1em;

		align-self: start;

		padding-inline: 1em;
		padding-block: 1em;
		border-radius: 1em;
		margin-block-start: 1em;

		background-color: var(--color-accent--lighter, red);
		color: var(--color-accent--lighter-text, red);
	}

	& form[data-direct] {
		display: flex;
		flex-direction: row;
		gap: 0.5em;
	}


	& form[data-info] {
		display: grid;
		grid-template-columns: minmax(20ch, 1fr) 1fr;
		/* grid-template-rows: repeat(auto-fill, 10px); */
		gap: 1em;

		border: 1px solid var(--color-accent--light);
    padding: 1em;
    border-radius: 1em;
	}

	& fieldset[data-action] {
		display: flex;
		gap: 1em;

		border: 1px solid var(--color-accent--light);
    padding: 1em;
    border-radius: 1em;
	}


	& [data-for-tab] {
		align-items: flex-start;
		align-content: flex-start;
		justify-content: flex-start;
		gap: 3em;
		flex-wrap: wrap;

		&[data-active] {
			display: flex;
		}
	}


	& [data-for-tab="settings"] {
		flex-direction: row;
		align-content: flex-start;
		overflow-y: scroll;
		height: 0;
	}


	& form[data-manual-add-form] {

		& fieldset {
			background-color: var(--color-accent--lighter, red);
			color: var(--color-accent--lighter-text, red);
		}
	}

	& [data-for-tab="scan"] {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr min-content;
		justify-items: start;

		&[data-active] {
			display: grid
		}
	}

	& [data-for-tab="capture"] {

		flex-direction: column;
		gap: 1em;

		&[data-active] {
			display:flex;
		}

		& [data-capture-controls] {
			display: flex;
			gap: 1em;
		}

		& button[data-capture] {

			&[data-capture="Start"] {
				& [data-capture="Start"] {}

				& [data-capture="Stop"] {
					display: none;
				}
			}

			&[data-capture="Stop"] {
				& [data-capture="Start"] {
					display: none;
				}

				& [data-capture="Stop"] {}
			}
		}
	}


	& [data-capture-list] {

		list-style: none;
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		margin-inline: 2em;
		gap: 0.25em;
		row-gap: 1em;

		& li {
			--badge-inline-offset: 0em;

			position: relative;

			display: flex;
			border-radius: 1em;
			padding: 0.5em;
			height: 3em;
			background-color: white;
			color: black;
			border: 1px solid black;
			align-items: center;

			font-family: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;


			&[data-state="IDLE"] {
				background-color: inherit;
				color: var(--color-accent--lighter-text, red);

				&::after {
					content: "Z";
					display: flex;
				}
			}

			&[data-state="WARM"] {
				background-color: inherit;
				color: var(--color-accent--lighter-text, red);

				&::after {
					content: "Z";
					display: flex;
				}
			}

			&[data-state="STARTED"] {
				background-color: inherit;

				&::after {
					display: flex;
					background-color: goldenrod;
					width: 2em;
					height: 2em;
					border-radius: 1em;
					content: "S";
					align-items: center;
					justify-content: center;
				}

			}

			&[data-state="STOPPED"] {
				background-color: inherit;

				&::after {
					display: flex;
					background-color: cornflowerblue;
					width: 2em;
					height: 2em;
					border-radius: 1em;
					content: "P";
					align-items: center;
					justify-content: center;
				}

			}

			&[data-state="ADDRESSED"] {

				display: flex;
				flex-direction: row;
				min-width: 7ch;

				&::before {
					position: absolute;
					right: var(--badge-inline-offset);
					width: 1em;
					height: 1em;

					top: -.25em;
					color: goldenrod;
				}

				&[data-mode="read"]::before {
					content: "◀";
				}

				&[data-mode="write"]::before {
					content: "▶";
				}

				&::after {
					position: absolute;
					right: var(--badge-inline-offset);
					bottom: 0.25em;
					width: 1em;
					height: 1em;
					content: "●";
					color: red;
				}

				&[data-acked]::after {
					color: green;
				}
			}

			&[data-state="TRANS"] {
				display: none;
			}

			&:is([data-state="TRANS_ACKED"], [data-state="TRANS_NACK"]) {
				display: flex;
				flex-direction: row;
				min-width: 7ch;

				&::after {
					position: absolute;
					right: var(--badge-inline-offset);
					bottom: 0.25em;
					width: 1em;
					height: 1em;
					content: "●";
					color: red;
				}

				&[data-acked]::after {
					position: absolute;
					right: var(--badge-inline-offset);
					bottom: 0.25em;
					width: 1em;
					height: 1em;
					content: "●";

					color: green;
				}
			}
		}
	}

}