mcp2221-config {
  /* border: 2px solid red; */
	margin-inline-start: 2em;

	/* & li {
		display: grid;
		grid-template-columns: 5ch 1fr max-content;
		gap: 1em;
		background-color: var(--color-accent--lighter, red);
		color: var(--color-accent--lighter-text, red);
		font-weight: bolder;
		border-radius: 2em;
		padding-inline: 2em;
		padding-block: 0.5em;
		align-items: center;
	} */

	& [data-descriptors] {
		& > [data-status] {
			grid-column: 1 / -1;

			display: none;

			padding: 1em;
			border-radius: 1em;
			padding-block: 2em;

			border: 7px groove var(--color-accent--darker-error, red);
			background-color: var(--color-accent--lightest-error, red);
			color: var(--color-accent--lightest-error-text, red);
		}

		/* &[data-status="success"] {
			& > [data-status]:not([data-status="success"]) {
				display: none;
			}
		}

		&[data-status="not-allowed"] {
			& > [data-status]:not([data-status="not-allowed"]) {
				display: none;
			}
		} */

		&[data-status="success"] {
			& > [data-status="success"] {
				display: initial;
			}
		}

		&[data-status="not-allowed"] {
			& > [data-status="not-allowed"] {
				display: initial;
			}
		}
	}

	& [data-flash] {

		& > [data-status] {
			display: flex;

			&:not([data-status="success"]) {
				display: none;
			}
		}

		&[data-status="not-allowed"] > [data-status="not-allowed"] {
			display: initial;

			grid-column: 1 / -1;
			padding: 1em;
			border-radius: 1em;
			padding-block: 2em;

			border: 7px groove var(--color-accent--darker-error, red);
			background-color: var(--color-accent--lightest-error, red);
			color: var(--color-accent--lightest-error-text, red);
		}
	}

	& [data-sram-output] {
		font-size: 0.5
	}


	& [data-gpios] {
		display:flex;
		flex-wrap: wrap;
		gap: 2em;
		row-gap: 1em;
		justify-content: space-between;

		padding-block-start: 3em;
	}

	& form[data-gpio] {
		flex-grow: 1;
		display: flex;
		flex-direction: column;

		align-items: stretch;

		/* max-width: min-content; */

		& fieldset {
			display: flex;
			flex-direction: column;
			align-items: start;
		}
	}

	& form[data-sram-gp] {
		flex-grow: 1;
		width: 100%;

		& fieldset {
			/* background: var(--color-accent--lighter, red);
			color: var(--color-accent--lighter-text, red); */
		}
	}

	& select[name="busSpeed"] > option[data-custom]:disabled {
		display: none;
	}
}

