mcp23-config {

	& [data-loader] {
		display: flex;
		flex-grow: 1;
    align-self: center;
    justify-content: center;

		& p[data-load] {
			font-size: 1em;
			font-weight: bold;
		}
	}
	&:not([data-loading]) [data-loader] {
		display: none;
	}
	&[data-loading] form[data-gpio] {
		display: none;
	}



	& :has([data-badge]) {
		position: relative;
		display: grid;

		& > * {
			grid-column: 1 / -1;
			grid-row: 1 / -1;
		}
	}

	& [data-badge] {
		align-self: center;
		justify-self: end;
		margin-inline-end: 1em;

		width: 1em;
		height: 1em;
		border-radius: 0.5em;

		--percent-accent: 0;
		--max-accent: 0.5em;
		--lerp-value: clamp(
			0px,
			calc(var(--percent-accent) / 100.0 * var(--max-accent)),
			var(--max-accent));
		border: var(--lerp-value) solid var(--color-accent--light, red);

		transition: border-width 500ms;
	}



	& div[data-port] {
		display: flex;
		flex-direction: row;

		gap: 3em;

		justify-content: flex-start;
		align-items: baseline;

		& ul {
			display: flex;
			flex-direction: column;
			list-style: none;

			border-radius: 1em;

			/* box-shadow: inset 4px 4px 5px #0000003d; */

			background-color: var(--color-accent--lighter, red);
			color: var(--color-accent--lighter-text, red);

			padding: 1em;
			padding-inline: 2em;

			& > li button {
				padding: 1em;
				padding-inline: 5ch;

				background-color: inherit;
				color: inherit;

				cursor: pointer;

				&:hover {
					background-color: var(--color-accent--darker, red);
					color: var(--color-accent--darker-text, red);
					text-decoration: underline;

					&  ~ [data-badge] {
						border-color: var(--color-accent--lighter, red);
					}
				}

				&[data-active]:not(:hover) {
					background-color: var(--color-accent--lightest, red);
					color: var(--color-accent--lightest-text, red);
				}
			}
		}
	}



	& form {
		flex-grow: 1;
	}


	& form[data-refresh] {
		display: flex;
		flex-direction: row;
		margin-block-end: 2em;
    gap: 2em;


	}

	& form[data-status] {
		display: flex;
		flex-direction: row;
		align-items: flex-start;

		& fieldset {
			flex-grow: 1;


			& output[data-flag="false"] {
				visibility: hidden;
			}

			& output:where([name ^= "portApin"], [name ^= "portBpin"]) {
				justify-self: end;
			}

			& output:where([name ^= "portApin"], [name ^= "portBpin"])[data-high] {
				justify-self: start;
			}
		}
	}
}