pca9536-config {
  & form {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    margin-inline-end: 2em;

    & > fieldset {
      grid-column: auto;
      display: grid;
      gap: 1em;

      padding: 1em;

      border-radius: 1em;
      border-color: var(--color-accent--darker, red);

      & > :where(input, select) {
        /* margin-block-end: 1em; */
        justify-self: start;
      }
    }

    & fieldset[data-output] {
      grid-column: 1 / -1;
      gap: 0.5em;
    }

    & fieldset[data-actions] {
      grid-column: 1 / -1;
      gap: 0.5em;
    }
  }
}
