tca9548-config {
	margin-inline-end: 2em;

	& [data-scan-group] {
		grid-column: 1 / -1;
	}

  & form {

		& fieldset {
			display: flex;
			flex-wrap: wrap;
			gap: 2em;

			padding: 1em;
			padding-inline-start: 2em;

			margin-block-end: 1em;
			border-radius: 1em;
			border-color: var(--color-accent--darker, red);

			& label[data-nested] {
				display: flex;
				gap: 1em;
    		align-items: center;

				background-color: var(--color-accent--lightest, red);
				color: var(--color-accent--lightest-text, red);

				padding: 0.5em;
				padding-inline: 1em;
				border-radius: 0.5em;
			}

		}
	}
}